<h1><%= @tag.name %></h1>
<% if @tag.manuals.empty? %>
	<h2> Manuals not found</h2>
<% else %>
 <tbody>
    <% @tag.manuals.each do |manual| %>
    <p>
    <table>
    <div class="card card-outline-danger w-50">
    <div class="card-block">
    <h4 class="card-title"><%= manual.title %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Video: <%= link_to manual.url, manual.url %></li>
    <li class="list-group-item">Category: <%= link_to manual.category.name, manual.category %></li>
    <li class="list-group-item"><p class:="card-text">Tags: <%= raw manual.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'tag tag-primary'}.join(' ') %></p></li>
  </ul>
  <div class="card-block">
    <a class="card-link"><%= link_to 'Show', manual %></a>
    <a class="card-link">
    <% if can? :update, manual %>
      <%= link_to 'Edit', edit_manual_path(manual) %>
    <% end %>
    </a>
    <a class="card-link">
    <% if can? :destroy, manual %>
      <%= link_to 'Destroy', manual, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </a>
    <a class="card-link"><%= image_tag('like.png', class: 'rounded-circle', width: '40', height:'40') %><%= manual.get_upvotes.size %></a>
    <a class="card-link"><%= image_tag('dislike.png', class: 'rounded-circle', width: '40', height:'40') %><%= manual.get_downvotes.size %></a>
  </div>
  </div>
  </p>
  </table>
</div>
<% end %>
</tbody>
<% end %> 
